.container-button {
    align-items: center;
    padding: 0rem;
}

.Home {
    width: 5.75rem;
    height: 2.6rem;
    max-width: 5.75rem;
    max-height: 2.6rem;
    font: 200 -2rem/1 'Nunito', sans-seri;
    margin: 2rem 0rem 0rem;
    border-radius: 2rem;
    color: #703CDC;
    background-color: #00051F;
    border: 0;
    border: 2px solid #703CDC;
    cursor: pointer;
}

.Home::before {
    content: '';
    
    top: 0;
    left: -50px;
    width: 10%;
    height: 10%;
    transform: skewX(35deg);
    background:#703CDC;
}

.Home:hover {
    background-color: rgba(138, 106, 204, 0.918);
    color: #fff;
        /*padding: 0rem 1rem 0.3rem;*/ 

}

.Home:active {
    border: none;
    opacity: 0.5;
    animation-duration: 150ms;
}

.Contato {
    width: 5.75rem;
    height: 2.6rem;
    font: 200 -2rem/1 'Nunito', sans-seri;

    border-radius: 2rem;
    color: #4196E3;
    background-color: #00051F;
    border: 2px solid #4196E3;

    cursor: pointer;
}


.Contato:hover {
    background-color: #71b9fc;
    color: #fff;
}

.Contato:active {
    border: none;
    opacity: 0.5;
    animation-duration: 150ms;
}

.Projetos {
    width: 5.75rem;
    height: 2.6rem;
    font: 200 -2rem/1 'Nunito', sans-seri;

    border-radius: 2rem;
    color: #eff3cda9;
    background-color: #00051F;
    border: 2px solid #eff3cda9;
    cursor: pointer;
}

.Projetos:hover {
    background-color: #EFF3CD;
    color: #000;
}

.Projetos:active {
    border: none;
    opacity: 0.5;
    animation-duration: 150ms;
}


.retangulo1 {
    height: 14.375rem;
    width: 9.875rem;
    
    position: relative;
    border-radius: 27px;
    /*background-color: #68B2F8;*/
    display: flex;
    font: 300 3.1vh 'Nunito', sans-seri;
    margin: -14rem 22rem 0rem;
    text-overflow:ellipsis;
    border: 0;
    display: flex;
    background: #00051f65;
    overflow: hidden;   
    transition: all 0.3s;
}

h3.Projeto1 {
    position: relative;
    z-index: 10;
    color: #fff;
}

div.retangulo1-move{
    content: '';
    
    margin: 0px 50px;
    width: 14rem;
    max-width: 150px;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    /* overflow: hidden; */
}

div.retangulo1-move::before {
    content: '';
    width: 6.375rem;
    height: 16.375rem;
    margin: -1.1rem -1.5rem 9rem;
    position: absolute;
    align-items: center;
    /* z-index: 10; */
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    align-items: center;
    background: linear-gradient(#61ADA0, #d400d4);
    animation: animate 4s linear infinite;
}

div.retangulo1-move::after {
    content: '';
    /* position: absolute; */
    inset: 4px;
    background: #00051F;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} 

.retangulo1::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: #010831;
    border-radius: 16px;
}


.imgUni {
    height: 5.875rem;
    width: 6.563rem;
    margin: 1.5rem 25px 15rem;
    Opacity: 0.7;
    position: absolute;
    z-index: 10;
    border-radius: 50%;

}

.Projeto1 {
    text-decoration: none;
    height: 0.5rem;
    font: 300 3.1vh 'Nunito', sans-seri;
    color: #000;
    text-overflow: ellipsis;
    margin: 150px 2px 25rem;
}

.retangulo1:hover {
    background-color: #00051F;
    scale: 1.1;
    /* Vou pensar se fica essa ideia mesmo*/
}

.retangulo1:active {
    border: none;
    opacity: 0.5;
    animation-duration: 180ms;
}

.retangulo2 {
    height: 14.375rem;
    width: 9.875rem;
    
    position: relative;
    border-radius: 27px;
    /*background-color: #68B2F8;*/
    display: flex;
    font: 300 3.1vh 'Nunito', sans-seri;

    display: flex;
    margin: -14.4rem 35rem 0rem;
    text-overflow: ellipsis;
    border: 0;
    text-overflow:ellipsis;
    border: 0;
    display: flex;
    background: #00051F;
    overflow: hidden;
    transition: all 0.3s;

}

div.retangulo2-move{
    content: '';
    
    margin: 0px 50px;
    width: 14rem;
    max-width: 150px;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    /* overflow: hidden; */
}

div.retangulo2-move::before {
    content: '';
    width: 6.375rem;
    height: 16.375rem;
    margin: -1.1rem -1.5rem 9rem;
    position: absolute;
    align-items: center;
    /* z-index: 10; */
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    align-items: center;
    background: linear-gradient(#582a6c, #527df5);
    animation: ani 4s linear infinite;
}

div.retangulo2-move::after {
    content: '';
    /* position: absolute; */
    inset: 4px;
    background: #00051F;
}

@keyframes ani {
    100%{
        transform: rotate(0deg);
    }
    0%{
        transform: rotate(360deg);
    }
}

.retangulo2::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: #46ead1;
    border-radius: 16px;
}



.Projeto2 {
    height: 0.938rem;
    font: 300 3.1vh 'Nunito', sans-seri;
    color: #000;
    text-overflow: ellipsis;
    margin: 150px 20px 30rem;
}

.imgNlw {
    height: 5.875rem;
    width: 6.563rem;
    margin: 2rem 26px 6rem;
    border-radius: 15%;
    z-index: 10;

}

.logo-happy {
    height: 2.125rem;
    z-index: 10;

    width: 2.125rem;
    max-width: 2rem;
    max-height: 2rem;
    margin: 0rem 80px 6rem;

}

h3.Projeto2 {
    position: relative;
    z-index: 10;
    color: #000;
}

.retangulo2:hover {
    background-color: #00051F;
    scale: 1.1;
    /* margin: -14.4rem 36rem 0rem; */
    /* Vou pensar se fica essa ideia mesmo*/
}

.retangulo2:active {
    border: none;
    opacity: 0.5;
    animation-duration: 180ms;
}

.retangulo3 {
    height: 14.375rem;
    width: 9.875rem;
    
    position: relative;
    border-radius: 27px;
    /*background-color: #68B2F8;*/
    display: flex;
    font: 300 3.1vh 'Nunito', sans-seri;

    display: flex;
    margin: -14.4rem 35rem 0rem;
    text-overflow: ellipsis;
    border: 0;
    text-overflow:ellipsis;
    border: 0;
    display: flex;
    background: #00051F;
    overflow: hidden;
    transition: all 0.3s;
    margin: -14.55rem 52rem 0rem;
}

div.retangulo3-move{
    content: '';
    
    margin: 0px 50px;
    width: 14rem;
    max-width: 150px;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    /* overflow: hidden; */
}

div.retangulo3-move::before {
    content: '';
    width: 6.375rem;
    height: 16.375rem;
    margin: -1.1rem -1.5rem 9rem;
    position: absolute;
    align-items: center;
    /* z-index: 10; */
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    align-items: center;
    background: linear-gradient(#4bf776, #ebeef6);
    animation: anim 4s linear infinite;
}


div.retangulo3-move::after {
    content: '';
    /* position: absolute; */
    inset: 4px;
    background: #00051F;
}

.retangulo3::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: #7037CD;
    border-radius: 16px;
}

@keyframes anim {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.Projeto3 {
    height: 0.938rem;
    font: 300 3.1vh 'Nunito', sans-seri;
    color: #000;
    margin: 115px 15px 10rem;
    text-overflow: ellipsis;
}

.imgTensor {
    height: 5.875rem;
    width: 6.563rem;
    margin: 1rem 25px 5rem;
    Opacity: 0.8;
    z-index: 10;
    border-radius: 50%;
}

h3.Projeto3 {
    position: relative;
    z-index: 10;
    color: #000;
}

.retangulo3:hover {
    background-color: #8b65c9;
    scale: 1.1;
    /* margin: -14.55rem 51rem 0rem; */
}

.retangulo3:active {
    border: none;
    opacity: 0.5;
    animation-duration: 180ms;
}




.retangulo4 {
    height: 14.375rem;
    width: 9.875rem;
    border-radius: 2rem;
    background-color: #EFF3CD;
    display: flex;
    font: 300 3.1vh 'Nunito', sans-seri;
    margin: -14.44rem 65rem 0rem;
    border: 0;
    text-overflow: ellipsis;
    transition: all 0.3s;
}

.Projeto4 {
    height: 0.938rem;
    font: 300 3.1vh 'Nunito', sans-seri;
    color: #000;
    margin: 130px 25px 10rem;
    text-overflow: ellipsis;
}

.imgPython {
    height: 5.875rem;
    width: 6.563rem;
    margin: 1.5rem 25px 5rem;

    border-radius: 40%;
}

.retangulo4:hover {
    background-color: #eff3cdb2;
    scale: 1.1;
    /* margin: -14.44rem 66rem 0rem; */
}

.retangulo4:active {
    border: none;
    opacity: 0.5;
    animation-duration: 180ms;
}

button.Git {
    width: 8.875rem;
    height: 8.875rem;
    display: flex;
    background-color: #EFF3CD;
    border-radius: 50%;
    margin: -5rem 26rem 11rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img.imgGit {
    width: 3.75rem;
    height: 3.125rem;
    display: flex;
    max-width: 3.75rem;
    max-height: 3.125rem;
    margin: -5rem 9rem -5rem;
    border-radius: 1.1rem;
    border-style: none;

}

.Git:hover {
    background-color: #a6a88e;
}

.Git:active {
    border: none;
    opacity: 0.5;
    animation-duration: 150ms;
}

button.Insta {
    width: 8.875rem;
    height: 8.877rem;
    display: flex;
    background-color: #dc3ccca4;
    border-radius: 50%;
    border: none;
    margin: -20rem 42rem 10rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img.ImgInsta {
    width: 3.9rem;
    height: 3.9rem;
    display: flex;
    max-width: 3.6rem;
    max-height: 3.4rem;
    margin: -5rem 9rem -5rem;
    border-radius: 50%;
    border: none;
}

.Insta:hover {
    background-color: #dc3ccc86;
}

.Insta:active {
    border: none;
    opacity: 0.5;
    animation-duration: 150ms;
}

button.Linkedin {
    width: 8.875rem;
    height: 8.875rem;
    display: flex;
    background-color: #3c8fdca4;
    border-radius: 50%;
    border: none;
    margin: -19rem 58rem 20rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img.imgLink {
    width: 3.6rem;
    height: 3.9rem;
    display: flex;
    max-width: 3.6rem;
    max-height: 3.9rem;
    margin: -5rem 9rem -5rem;
    padding: 0;
    border-radius: 70%;
    border: none;
    grid-column: auto;
    
}

.Linkedin:hover {
    background-color: #3c8fdc71;
}

.Linkedin:active {
    border: none;
    opacity: 0.5;
    animation-duration: 150ms;
}