.Home{
    width: 10.2vh;
    height: 5.2vh;
    font: 200 -2rem/1 'Nunito', sans-seri;
    margin: 2rem 0rem 0rem;
    border-radius: 2rem;
    background-color: #703CDC ;
    border: 0;
    cursor: pointer;
}

.Home:hover{
    background-color: #713cdcea;
    /*padding: 0rem 1rem 0.3rem;*/
}

.Home:active {
    border: none;
    opacity: 0.5;
    animation-duration: 150ms;
}

.Contato{
    width: 10.2vh;
    height: 5.2vh;
    font: 200 -2rem/1 'Nunito', sans-seri;
    margin: -15rem 2rem 0rem;
    border-radius: 2rem;
    background-color: #4196E3;
    border: 0;
    cursor: pointer;
}

.Contato:hover{
    background-color: #4195e3d8;
}

.Contato:active {
    border: none;
    opacity: 0.5;
    animation-duration: 150ms;
}

.Projetos{
    width: 10.2vh;
    height: 5.2vh;
    font: 200 -2rem/1 'Nunito', sans-seri;
    margin: -10rem 0rem 0rem;
    border-radius: 2rem;
    background-color: #5DD3F9;
    border: 0;
    cursor: pointer;
}

.Projetos:hover{
    background-color: #5dd2f9af;
}

.Projetos:active {
    border: none;
    opacity: 0.5;
    animation-duration: 150ms;
}


.retangulo1{
    height: 230px;
    width: 158px;
    border-radius: 2rem;
    background-color: #00969A;
    display: flex;
    margin: -14rem 22rem 0rem;
    border: 0;
}

.imgUni{
    height: 120px;
    width: 110px;
    margin: 0.5rem 25px 5rem;
    Opacity:0.7;
    
    border-radius: 50%;

}

.Projeto1{
    height: 15px;
    font: 300 3vh 'Nunito', sans-seri;
    color: #fff;
    margin: 150px 2px 25rem;
}

.retangulo1:hover{
    background-color: #098c91;
    margin: -14rem 21rem 0rem; /* Vou pensar se fica essa ideia mesmo*/
}

.retangulo1:active {
    border: none;
    opacity: 0.5;
    animation-duration: 180ms;
}

.retangulo2{
    height: 230px;
    width: 158px;
    border-radius: 2rem;
    background-color: #1F6097;
    display: flex;
    margin: -14.4rem 35rem 0rem;   
    border: 0;
}

.Projeto2{
    height: 15px;
    font: 300 3vh 'Nunito', sans-seri;
    color: #fff;
    margin: 150px 20px 30rem;
}

.imgNlw{
    height: 78px;
    width: 105px;
    margin: 2rem 26px 6rem;
    border-radius: 15%;
}

.logo-happy{
    height: 50px;
    width: 50px;
    margin: 0rem 80px 4rem;
    
}

.retangulo2:hover{
    background-color: #2571b3;
    margin: -14.4rem 36rem 0rem; /* Vou pensar se fica essa ideia mesmo*/
}

.retangulo2:active{
    border: none;
    opacity: 0.5;
    animation-duration: 180ms;
}

.retangulo3{
    height: 230px;
    width: 158px;
    border-radius: 2rem;
    background-color: #007999;
    display: flex;
    margin: -14.55rem 52rem 0rem;
    border: 0;
}

.Projeto3{
    height: 15px;
    font: 300 3vh 'Nunito', sans-seri;
    color: #fff;
    margin: 115px 15px 10rem;
}

.imgTensor{
    height: 100px;
    width: 110px;
    margin: 1rem 25px 5rem;
    Opacity:0.8;
    
    border-radius: 50%;
}

.retangulo3:hover{
    background-color: #016783;
    margin: -14.55rem 51rem 0rem;
}

.retangulo3:active{
    border: none;
    opacity: 0.5;
    animation-duration: 180ms;
}

.retangulo4{
    height: 230px;
    width: 158px;
    border-radius: 2rem;
    background-color:#0D0077;
    display: flex;
    margin: -14.44rem 65rem 0rem;
    border:0;
}

.Projeto4{
    height: 15px;
    font: 300 3vh 'Nunito', sans-seri;
    color: #fff;
    margin: 130px 25px 10rem;
}

.imgPython{
    height: 100px;
    width: 110px;
    margin: 1.5rem 25px 5rem;
   
    
    border-radius: 40%;
}

.retangulo4:hover{
    background-color:#160596;
    margin: -14.44rem 66rem 0rem;
}

.retangulo4:active{
    border: none;
    opacity: 0.5;
    animation-duration: 180ms;
}

button.Git{
    width: 190px;
    height: 66.83px;
    display: flex;
    background-color: #2b342f73;
    border-radius: 1.5rem;
    margin: -5rem 26rem 16rem;
    border:none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img.imgGit{
    width: 60px; 
    height: 50px;
    display: flex;
    max-width: 60px;
    max-height: 50px;
    margin: -0.1rem -3.9rem -6rem; 
    border-radius: 1.1rem;
    border-style:none;
}

.Git:hover{
    background-color: #2b342f93;
}

.Git:active {
    border: none;
    opacity: 0.5;
    animation-duration: 150ms;
}

button.Insta{
    width: 190px;
    height: 66.83px;
    display: flex;
    background-color: #dc3ccca4;
    border-radius: 1.5rem;
    border: none;
    margin:-20rem 42rem 10rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img.ImgInsta{
    width: 60px;
    height: 50px;
    display: flex;
    max-width: 60px;
    max-height: 50px;
    margin: -0.1rem -3.9rem -6rem; 
    border-radius: 1.1rem;
    border: none;
}

.Insta:hover{
    background-color:#dc3ccc86;
}

.Insta:active {
    border: none;
    opacity: 0.5;
    animation-duration: 150ms;
}

button.Linkedin{
    width: 190px;
    height: 66.83px;
    display: flex;
    background-color: #3c8fdca4;
    border-radius: 1.5rem;
    border: none;
    margin:-14rem 58rem 20rem;;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img.imgLink{
    width: 60px;
    height: 50px;
    display: flex;
    max-width: 60px;
    max-height: 50px;
    margin: -0.1rem -3.9rem -6rem; 
    border-radius: 1.1rem;
    border: none;
}

.Linkedin:hover{
    background-color: #3c8fdc71;
}

.Linkedin:active {
    border: none;
    opacity: 0.5;
    animation-duration: 150ms;
}

