*{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    max-height: 100vh;
}

main{
    width: 1440vw;
    height: 604vw;
    color: black;
    border: none;
}

body{
    margin:0;
    border: none;
    display: flex;
    background-color:#fff;
}

header{
    width: 1440px; /*1440px*/
    height: 604;  /*604px*/
    max-width: 1400vw;
    max-height: 600vw;
    padding:0rem 30rem 15rem;
    background: url(../Images/Novo_teste_Header.png) no-repeat;
    background-position: 0;
    object-fit:inherit;
}

.Home{
    width: 10.2vh;
    height: 5.2vh;
    font: 200 -2rem/1 'Nunito', sans-seri;
    margin: 5rem 1rem 0rem;
    border-radius: 2rem;
    background-color: #703CDC ;
    border: 0;
    cursor: pointer;
}

.Home:hover{
    background-color: #713cdcea;
    /*padding: 0rem 1rem 0.3rem;*/
}

.Contato{
    width: 10.2vh;
    height: 5.2vh;
    font: 200 -2rem/1 'Nunito', sans-seri;
    margin: -10rem 10rem -30rem;
    border-radius: 2rem;
    background-color: #4196E3;
    border: 0;
    cursor: pointer;
}

.Contato:hover{
    background-color: #4195e3d8;
    /*padding: 0rem 1rem 0.3rem;*/
}

.Projetos{
    width: 10.2vh;
    height: 5.2vh;
    font: 200 -2rem/1 'Nunito', sans-seri;
    margin: -20rem 20rem -50rem;
    border-radius: 2rem;
    background-color: #5DD3F9;
    border: 0;
    cursor: pointer;
}

.Projetos:hover{
    background-color: #5dd2f9af;
    /*padding: 0rem 1rem 0.3rem;*/
}

img{
    width: 163px;
    height: 164px;
    position:absolute;
    display: grid;
    margin: 6rem -12rem;
    border-radius: 50%;
    border-style:groove;
    border: white;
}

h1{
    align-items: center;
    display: flex;
    margin: 6rem -1rem; 
    font: 600 2rem/1 'Nunito', sans-seri;
}

h2{
    align-items: center;
    font: 500 2rem/1 'Nunito', sans-seri;;
    display: flex;
    margin: 2rem 15rem;
}

h3{
    width: 440px;
    height: 40px;
    font: 400 1rem/4 'Nunito', sans-seri;
    align-items:center;
    margin: 1rem  -1rem;
    display:flex;
}

.texto-pre{
    display: flex;
    font: 400 2vw 'Nunito', sans-seri;
    padding:15rem 10rem 15rem;
    align-items: center;
    margin: 0rem 25rem -2rem;
}


.Prefacio{
    width: 100%; /*1440px*/
    height: 100%; /*460px*/
    max-width: 1440px;
    max-height: 460px;
    display: flex;
    padding: 10rem 45rem 40rem;
    background: url(../Images/depoimentos-background-2.png) no-repeat;
    object-fit:none;
}

.Projeto{
    display: flex;
    font: 400 2vw 'Nunito', sans-seri;
    padding:15rem 10rem 15rem;
    align-items: center;
    margin: -30rem 25rem 20rem;

}

.retangulo1{
    height: 230px;
    width: 158px;
    border-radius: 2rem;
    background-color: #00969A;
    display: flex;
    margin: -20rem 10rem -75rem;
}

.retangulo2{
    height: 230px;
    width: 158px;
    border-radius: 2rem;
    background-color: #1F6097;
    display: flex;
    margin: 60rem 25rem -22rem;
}

.retangulo3{
    height: 230px;
    width: 158px;
    border-radius: 2rem;
    background-color: #007999;
    display: flex;
    margin: 8rem 40rem -9rem;
}

.retangulo4{
    height: 230px;
    width: 158px;
    border-radius: 2rem;
    background-color:#0D0077;
    display: flex;
    margin: -14rem 55rem 0rem;
}

.Contatos{
    width: 88px;
    height: 35px;
    font: 400 2vw 'Nunito', sans-seri;
    display: flex;
    margin: 10rem 38rem 15rem;
}


button.Email{
    width: 190px;
    height: 66.83px;
    display: flex;
    background-color: #2b342f73;
    border-radius: 1.5rem;
    margin: -5rem 10rem 16rem;
    border:none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img.imgEmail{
    width: 60px; 
    height: 50px;
    display: flex;
    max-width: 60px;
    max-height: 50px;
    margin: -0.1rem -3.9rem -6rem; 
    border-radius: 1.1rem;
    border-style:none;
}

.Email:hover{
    background-color: #2b342f93;
}

button.Insta{
    width: 190px;
    height: 66.83px;
    display: flex;
    background-color: #dc3ccca4;
    border-radius: 1.5rem;
    border: none;
    margin:-20rem 30rem 10rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img.ImgInsta{
    width: 60px;
    height: 50px;
    display: flex;
    max-width: 60px;
    max-height: 50px;
    margin: -0.1rem -3.9rem -6rem; 
    border-radius: 1.1rem;
    border: none;
}

.Insta:hover{
    background-color:#dc3ccc86;
}

button.Linkedin{
    width: 190px;
    height: 66.83px;
    display: flex;
    background-color: #3c8fdca4;
    border-radius: 1.5rem;
    border: none;
    margin:-14rem 50rem 20rem;;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img.imgLink{
    width: 60px;
    height: 50px;
    display: flex;
    max-width: 60px;
    max-height: 50px;
    margin: -0.1rem -3.9rem -6rem; 
    border-radius: 1.1rem;
    border: none;
}

.Linkedin:hover{
    background-color: #3c8fdc71;
}

footer.cabeçario{
    height: 2rem;
    width: 2rem;
    background-color:white;
}
