* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

main {

    /* color: black; */
    border: none;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #1D0C20;
}

header {
    /* width: 90rem; */
    width: 1300px;
    /* height: 40rem; */
    height: 610px;
    max-width: 90rem;
    max-height: 50rem;
    padding: 0rem 30rem 15rem;

    background-position: 0;
    object-fit: inherit;
}

.img_back {
    width: 100%;
    height: 100%;
    max-width: 90rem;
    max-height: 75rem;
    border-radius: 0rem;
    padding: 0;
    opacity: 1;
    margin: 3rem -20rem 2rem;
}

img {
    width: 15.9rem;
    height: 15.5rem;
    position: absolute;
    display: grid;
    margin: 0rem 0.2rem 3rem;
    border-radius: 70%;
    border-style: groove;
    border: #1D0C20;

}

.img-cicle {
    background-color: rgba(59, 9, 139, 0.267);
    width: 16.3rem;
    height: 15.8rem;
    display: flex;
    border-radius: 100%;
    padding: 0;
    margin: 2rem -21rem -21rem;
}

h1 {
    align-items: center;
    display: flex;
    margin: 6rem -1rem 2rem;
    font: 600 2rem/1 'Nunito', sans-seri;
    color: #75ADC9;
}

h2 {
    align-items: center;
    font: 500 2rem/1 'Nunito', sans-seri;
    ;
    display: flex;
    margin: 2rem 15rem;
    color: #75ADC9;
}

h3 {
    width: 27.5rem;
    height: 2.5rem;
    font: 400 1rem/4 'Nunito', sans-seri;
    margin: 1rem -1rem;
    display: flex;
    color: #75ADC9;
}

h4 {
    width: 7rem;
    height: 2.5rem;
    font: 400 1rem/4 'Nunito', sans-seri;
    margin: 1rem -1rem;
    display: flex;
    color: #75ADC9;
}

.texto-pre {
    width: 20rem;
    height: 20rem;
    display: flex;
    font: 400 2vw 'Nunito', sans-seri;
    padding: 0rem 30rem -25rem;
    align-items: center;
    margin: 10rem 44rem 15rem;
    color: #75ADC9;
}


.Prefacio {
    width: 100%;
    /*1440px*/
    height: 100%;
    /*460px*/
    max-width: 100rem;
    max-height: 30rem;
    display: flex;
    padding: 20rem 45rem 40rem;
    background: url(../Images/depoimentos-background-2.png) no-repeat;
    object-fit: none;
    mix-blend-mode: hard-light;
}

.hard-container {
    position: absolute;
    width: 48.5rem;
    height: 12.875rem;
    left: 20.125rem;
    top: 38.875rem;
    margin: 25rem 5rem 40rem;
    align-items: center;
    background: rgba(182, 229, 250, 0.2);
    border-radius: 9px;

    grid-template-columns: 1fr 1fr 1fr;

    display: grid;
    
    gap: 0.3rem;
    align-self: center;
    justify-self: center;
    display: flex;
    padding: 1px;
    /* align-items: center; */
    align-content: space-between;
    justify-content: center;
}

.img_c {
    height: 3.5rem;
    width: 3.5rem;
    margin: auto;
}

.img_cc {
    height: 3.5rem;
    width: 3.5rem;
    margin: auto;
}

.img_python {
    height: 3.5rem;
    width: 3.5rem;
    margin: auto;
} 

.img_sql {
    height: 3.5rem;
    width: 3.5rem;
    margin: auto;
}

.img_html {
    height: 3.5rem;
    width: 3.5rem;
    margin: auto;
}

.img_css {
    height: 3.5rem;
    width: 3.5rem;
    margin: auto;
}

.img_js {
    height: 3.5rem;
    width: 3.5rem;
    margin: auto;
}

.Projeto {
    display: flex;
    font: 400 2vw 'Nunito', sans-seri;
    padding: 15rem 15rem 15rem;
    align-items: center;
    margin: -30rem 29rem 5rem;
}


.Contatos {
    width: 5.5rem;
    height: 2.188rem;
    font: 400 2vw 'Nunito', sans-seri;
    display: flex;
    margin: 10rem 44rem 15rem;
    align-items: center;
}


.Container-triangle {
    align-items: center;
    padding: 0rem;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;

    width: 66.375rem;
    height: 20.125rem;

    max-height: 100%;
    max-width: 100%;
    display: inline-block;
}

footer.cabeçario {
    height: 10vw;
    width: 90vw;
    display: flex;
    margin: -20rem 2rem 4rem;
    background-color: #1D0C20;
}