@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto&display=swap');

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 0 50px;
    width: 90vw;
    height: 100vh;
    padding: 0;
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #111;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-size: 18pt;
    margin: 0;
}

h1 {
    font-size: 36pt;
    margin: 0;
    border-radius: 10px;
    padding: 0px;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid #111 5px;
    animation: imagem 4s 1;
}

a {
    background-color: #FFF;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #111;
    transition: all 300ms;
    margin-right: 10px;
}

a:hover {
    transform: translateY(4px) translateX(2px);
    box-shadow: #111 2px 2px 3px;
}

@keyframes imagem {
    0%   {padding: 0; border-color: #111;background-color: #111;}
    25%  {padding: 0 10px; border-color: #0B9ED9; background-color: #0B9ED9;}
    50%  {padding: 10px 0; border-color: #021859; background-color: #021859;}
    75%  {padding: 0 10px; border-color: #032CA6; background-color: #032CA6;}
    100% {padding: 0; border-color: #111; background-color: #111;}
}